<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
</head>
<body>
    <h1>회원 목록</h1>
    <div>
        <table>
            <thead>
            <th>
                <tr>#</tr>
                <tr>이름</tr>
            </th>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/">돌아가기</a>
</body>
</html>