<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/mypage.css/}" rel="stylesheet" type="text/css" media="screen">
    <title>Admin Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  <!-- jquery library 임포트 -->
    <script type="text/javascript" th:src="@{/js/mypage.js/}"></script>
    <script>
        function rentalExtension() {
            console.log('rental extention btn click event');
            if(confirm('책 대여 기간을 연장 하겠습니까?') == true){
                location.href = '/book/rental/extension';
            }else{
                return false;
            }
            // location.href = '/book/rental/extension';
        }
        function returnBook() {
            alert("책 반납이 완료 되었습니다.")
            location.href = '/member/iinfo';
            // location.href = '/book/rental/extension';
        }
    </script>
</head>
<body>
<h1>JSTL MyPage</h1>
<div class="container">
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">회원정보수정</li>
        <li class="tab-link" data-tab="tab-2">대여정보</li>
        <li class="tab-link" data-tab="tab-3">연체 내역 조회</li>
        <li class="tab-link" data-tab="tab-4">알람 신청 내역 조회</li>
    </ul>
    <div id="tab-1" class="tab-content current">
        <form th:action="@{/member/info}" th:method="post">
            <label> 등급 </label><br>
            <label>email:</label>
            <input type="text" name="myEmail" th:value="${myinfo.email}" disabled><br>
            <label>비밀번호:</label>
            <input type="password" name="myPwd" th:value="${myinfo.pwd}"><br>
            <label>이름:</label>
            <input type="text" name="myName" th:value="${myinfo.name}" disabled><br>
            <label>주민등록번호:</label>
            <input type="text" name="myPid" th:value="${myinfo.pid}" disabled><br>
            <label>휴대폰번호:</label>
            <input type="text" name="myPhone" th:value="${myinfo.phone}"><br>

            <input type="submit" value="정보수정" >
        </form>
    </div>
    <div id="tab-2" class="tab-content">
        <table>
            <tr>
                <th>idx</th>  <!-- r_id 대여 인덱스 -->
                <th>책id</th>
                <th>책 대여 유저ID</th>
                <th>ISBN</th>
                <th>제목</th>
                <th>저자</th>
                <th>출판사</th>
                <th>책 대여 날짜</th>
                <th>책 반납 예정일</th>
                <th>책 반납 여부</th>
                <th>책 반납 신청</th>
                <th>책 연장 신청</th>
                <th>책 연장 횟수</th>
            </tr>
            <tr th:each="rantal_table : ${rentalList}">
                <td name="r_id" th:text="${rantal_table.r_id}">

                </td>
                <td name="b_id" th:text="${rantal_table.b_id}">

                </td>
                <td name="m_id" th:text="${rantal_table.m_id}">

                </td>
                <td name="isbn" th:text="${rantal_table.isbn}">

                </td>
                <td name="b_title" th:text="${rantal_table.b_title}">

                </td>
                <td name="b_author" th:text="${rantal_table.b_author}">

                </td>
                <td name="b_publisher" th:text="${rantal_table.b_publisher}">

                </td>
                <td name="rent_date" th:text="${rantal_table.rent_date}">

                </td>
                <td name="due_return_date" th:text="${rantal_table.due_return_date}">

                </td>
                <td>
                 <div th:text="${rantal_table.return_status} == 0 ? '대여중' : '반납완료'"></div>

                </td>
                <td>
                
                    <div th:if="${rantal_table.return_status} == 0">
                        <form th:action="@{/book/rental/return}" th:method="post">
                                <input type="text" hidden="true" name="r_id" th:value="${rantal_table.r_id}">
                                <input type="submit" value="반납신청" onclick="returnBook();">
                        </form>
                    </div>
                </td>
                <td>
                    <div th:if="${rantal_table.return_status} == 0">
                        <div th:if="${rantal_table.ext_num} < 3">
                            <form th:action="@{/book/rental/extension}" th:method="post">
                                <input type="text" hidden="true" name="r_id" th:value="${rantal_table.r_id}">
                                <input type="submit" value="연장신청" onclick="rentalExtension();">
                            </form>
                        </div>
                    </div>
                </td>
                <td>
                    <div th:text="${rantal_table.ext_num}"></div>
                </td>
            </tr>
        </table>

    </div>
    <div id="tab-3" class="tab-content">
        <table>
            <tr>
                <th>idx</th>
                <th>책id</th>
                <th>ISBN</th>
                <th>제목</th>
                <th>카테고리</th>
                <th>저자</th>
                <th>출판사</th>
                <th>연체 기간</th>
            </tr>
            <tr th:each="overdue_table : ${overdueList}">
                <td th:text="${overdue_table.r_id}">

                </td>
                <td th:text="${overdue_table.b_id}">

                </td>
                <td th:text="${overdue_table.isbn}">

                </td>
                <td th:text="${overdue_table.b_title}">

                </td>
                <td th:text="${overdue_table.c_name}">

                </td>
                <td th:text="${overdue_table.b_author}">

                </td>
                <td th:text="${overdue_table.b_publisher}">

                </td>
                <td th:text="${overdue_table.cnt_date} + '  일'">

                </td>
            </tr>
        </table>
    </div>
    <div id="tab-4" class="tab-content">
        <table>
            <tr>
                <th>idx</th>
                <th>책id</th>
                <th>ISBN</th>
                <th>제목</th>
                <th>알람 전송 여부</th>
            </tr>
            <tr th:each="notification_table : ${notificationList}">
                <td th:text="${notification_table.n_id}">

                </td>
                <td th:text="${notification_table.b_id}">

                </td>
                <td th:text="${notification_table.isbn}">

                </td>
                <td th:text="${notification_table.b_title}">

                </td>
                <td>
                    <div th:if="${notification_table.resp_date} == null">
                        <div>발송 전</div>
                    </div>
                    <div th:if="${notification_table.resp_date} != null">
                        <div>발송 완료</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>