<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<div th:fragment="headerFragment" class="header navbar-fixed-top">
		<div class="sub_menu">
			<div class="wrap">
				<div class="blue">더조니열람실</div>
				<div class="purple">전자도서관</div>
				<div class="right">
					<ul>
						<li sec:authorize="isAnonymous()"><a th:href="@{/member/login}">로그인</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/member/new}">회원가입</a></li>
						<li sec:authorize="hasRole('ROLE_MEMBER')"><a th:href="@{/member/info}">마이서재</a></li>
						<li sec:authorize="isAuthenticated()"><span th:text ="${member.name}">님 환영합니다.</span>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}">로그아웃</a><br>
					</ul>
				 </div>  
			</div>
		</div>
		<div class="main_menu">
			<div class="wrap">
				<a th:href="@{/}">
					<div class="logo">
						<div class="img"><img th:src="@{/css/images/logo.png}" alt=""></div>
						<div class="title">더조니도서관</div>
					</div>
				</a>
		    </div>
		</div>
		<div class="tape"></div>
	</div>
</html>