<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
</head>
<body>
    <h1>LMS Index Page</h1>
    <div sec:authorize="isAnonymous()">
        <a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a><br>
        <a sec:authorize="isAnonymous()" th:href="@{/member/new}">회원 가입</a><br>
    </div>

    <div sec:authorize="isAuthenticated()">
<!--        <span sec:authentication="name"></span>님 환영합니다~<br>-->
        <span th:text ="${member.name}"></span>님 환영합니다~~<br>
<!--        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/bookinfo-list}">책 재고 정보</a><br>-->
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/member-manage}">회원 관리</a><br>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/book-manage}">책 관리</a><br>
        <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a><br>
    </div>
    <br>
    <form th:action="@{/member/searchList}" method="POST">
        <input type="hidden" th:value="${isbn}" name="isbn">
        <input th:type="submit" value="알림 신청"/>
    </form>
    <a th:href="@{/bookinfo-list}">도서 정보 검색 - 전체</a><br>

    <form th:action="@{/book-search/}" method="POST" id="bookSearchForm">
        <div>
            <select name="search_op" form="bookSearchForm">
                <option value="title">제목</option>
                <option value="category">카테고리</option>
                <option value="author">저자</option>
                <option value="publisher">출판사</option>
            </select>
            <input type="text" name="keyword" id="keyword" >
            <button type="submit">등록</button>
        </div>
    </form>
</body>
</html>